body {
    font-family: Arial, sans-serif;
    background-color: white;
    text-align: center; /* Centra el contenido del cuerpo */

}

#nueva-tarea {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
}

#lista-tareas {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tarea {
    padding: 10px;
    text-align: left; /* Ajusta el texto de la tarea a la izquierda */
    border-bottom: 1px solid #ccc;
    transition: background-color 0.2s ease;
}

.tarea:hover {
    background-color: #f0f0f0;
}

.tarea:hover .eliminar {
    display: block;
}

.eliminar {
    display: none;
    float: right;
    cursor: pointer;
}

.sin-tareas {
    padding: 10px;
    text-align: center;
    color: #666;
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
